<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="PaletteFrame">
		<title>Colour lookup tables</title>
		<size>554,240</size>
		<parent_arg>0</parent_arg>
		<id_arg>0</id_arg>
		<layout_window>0</layout_window>
		<style>wxCAPTION|wxDEFAULT_FRAME_STYLE</style>
		<handler function="OnClosePalette" entry="EVT_CLOSE" />
		<handler function="OnClutPanel1MouseLeave" entry="EVT_ENTER_WINDOW" />
		<object class="wxChoice" name="ID_REMAP_CHOICE" variable="PaletteRemapChoice" member="yes">
			<content>
				<item>Fore 0 Back 0</item>
				<item>Fore 0 Back 1</item>
				<item>Fore 0 Back 2</item>
				<item>Fore 1 Back 1</item>
				<item>Fore 1 Back 2</item>
				<item>Fore 2 Back 1</item>
				<item>Fore 2 Back 2</item>
				<item>Fore 2 Back 3</item>
			</content>
			<selection>0</selection>
			<pos>0,0</pos>
			<size>90,12d</size>
			<tooltip>Choose the foreground and background colour look up tables</tooltip>
			<maxsize>200,100</maxsize>
			<handler function="OnChoiceRemapSelect" entry="EVT_CHOICE" />
		</object>
		<object class="wxPanel" name="ID_CLUTPANEL1" variable="ClutPanel1" member="yes">
			<pos>32,56</pos>
			<size>496,32</size>
			<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
			<handler function="OnClutPanel1MouseEnter" entry="EVT_ENTER_WINDOW" />
			<handler function="OnClutPanel1MouseLeave" entry="EVT_LEAVE_WINDOW" />
			<object class="wxStaticText" name="ID_STATICTEXT0" variable="StaticTextCLUT0" member="yes">
				<label>CLUT 0: Foreground &amp; Background</label>
				<pos>0,16</pos>
				<size>272,16</size>
				<bg>wxSYS_COLOUR_WINDOW</bg>
			</object>
		</object>
		<object class="wxPanel" name="ID_CLUTPANEL2" variable="ClutPanel2" member="yes">
			<pos>32,96</pos>
			<size>472,40</size>
			<handler function="OnClutPanel1MouseEnter" entry="EVT_ENTER_WINDOW" />
			<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticTextCLUT1" member="yes">
				<label>CLUT 0: Foreground &amp; Background</label>
				<pos>0,24</pos>
				<size>272,16</size>
				<bg>wxSYS_COLOUR_WINDOW</bg>
			</object>
		</object>
		<object class="wxPanel" name="ID_CLUTPANEL3" variable="ClutPanel3" member="yes">
			<pos>32,152</pos>
			<size>496,40</size>
			<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
			<handler function="OnClutPanel1MouseLeave" entry="EVT_ENTER_WINDOW" />
			<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticTextCLUT2" member="yes">
				<label>CLUT 0: Foreground &amp; Background</label>
				<pos>0,24</pos>
				<size>272,16</size>
				<bg>wxSYS_COLOUR_WINDOW</bg>
			</object>
		</object>
		<object class="wxPanel" name="ID_CLUTPANEL4" variable="ClutPanel4" member="yes">
			<pos>24,200</pos>
			<size>504,32</size>
			<handler function="OnClutPanel1MouseLeave" entry="EVT_ENTER_WINDOW" />
			<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticTextCLUT3" member="yes">
				<label>CLUT 0: Foreground &amp; Background</label>
				<pos>0,16</pos>
				<size>272,16</size>
				<bg>wxSYS_COLOUR_WINDOW</bg>
			</object>
		</object>
		<object class="wxButton" name="ID_DEFAULT_BUTTON" variable="DefaultsButton" member="yes">
			<label>Set defaults</label>
			<pos>424,0</pos>
			<handler function="OnDefaultButtonClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxChoice" name="ID_CHOICE1" variable="RowColourChoice" member="yes">
			<content>
				<item>0:0</item>
				<item>0:1</item>
				<item>0:2</item>
				<item>0:3</item>
				<item>0:4</item>
				<item>0:5</item>
				<item>0:6</item>
				<item>0:7</item>
				<item>1:0</item>
				<item>1:1</item>
				<item>1:2</item>
				<item>1:3</item>
				<item>1:4</item>
				<item>1:5</item>
				<item>1:6</item>
				<item>1:7</item>
				<item>2:0</item>
				<item>2:1</item>
				<item>2:2</item>
				<item>2:3</item>
				<item>2:4</item>
				<item>2:5</item>
				<item>2:6</item>
				<item>2:7</item>
				<item>3:0</item>
				<item>3:1</item>
				<item>3:2</item>
				<item>3:3</item>
				<item>3:4</item>
				<item>3:5</item>
				<item>3:6</item>
				<item>3:7</item>
			</content>
			<use_items_array>1</use_items_array>
			<pos>216,0</pos>
			<size>64,23</size>
			<fg>#FF0000</fg>
			<bg>#00FF00</bg>
			<handler function="OnRowColourChoiceSelect" entry="EVT_CHOICE" />
		</object>
		<object class="wxPanel" name="ID_ROW_COLOUR_PANEL" variable="RowColourPanel" member="yes">
			<pos>168,0</pos>
			<size>40,20</size>
			<fg>#FF0000</fg>
			<bg>#00FF00</bg>
			<style>wxFULL_REPAINT_ON_RESIZE</style>
		</object>
		<object class="wxPanel" name="ID_PAGE_COLOUR_PANEL" variable="PageColourPanel" member="yes">
			<pos>288,0</pos>
			<size>40,20</size>
			<fg>wxSYS_COLOUR_ACTIVECAPTION</fg>
			<bg>wxSYS_COLOUR_HIGHLIGHT</bg>
			<style>wxFULL_REPAINT_ON_RESIZE</style>
		</object>
		<object class="wxChoice" name="ID_PAGE_COLOUR_CHOICE" variable="PageColourChoice" member="yes">
			<content>
				<item>0:0</item>
				<item>0:1</item>
				<item>0:2</item>
				<item>0:3</item>
				<item>0:4</item>
				<item>0:5</item>
				<item>0:6</item>
				<item>0:7</item>
				<item>1:0</item>
				<item>1:1</item>
				<item>1:2</item>
				<item>1:3</item>
				<item>1:4</item>
				<item>1:5</item>
				<item>1:6</item>
				<item>1:7</item>
				<item>2:0</item>
				<item>2:1</item>
				<item>2:2</item>
				<item>2:3</item>
				<item>2:4</item>
				<item>2:5</item>
				<item>2:6</item>
				<item>2:7</item>
				<item>3:0</item>
				<item>3:1</item>
				<item>3:2</item>
				<item>3:3</item>
				<item>3:4</item>
				<item>3:5</item>
				<item>3:6</item>
				<item>3:7</item>
			</content>
			<pos>336,0</pos>
			<size>72,23</size>
			<handler function="OnPageColourChoiceSelect" entry="EVT_CHOICE" />
		</object>
		<object class="wxColourDialog" variable="ColourDialog1" member="yes">
			<colour>#8000FF</colour>
		</object>
	</object>
</wxsmith>
