<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="PaletteFrame">
		<title>Colour lookup tables</title>
		<size>554,240</size>
		<parent_arg>0</parent_arg>
		<id_arg>0</id_arg>
		<layout_window>0</layout_window>
		<style>wxCAPTION|wxDEFAULT_FRAME_STYLE</style>
		<handler function="OnClosePalette" entry="EVT_CLOSE" />
		<handler function="OnClutPanel1MouseLeave" entry="EVT_ENTER_WINDOW" />
		<object class="wxChoice" name="ID_CHOICE1" variable="PaletteRemapChoice" member="yes">
			<content>
				<item>Fore 0 Back 0</item>
				<item>Fore 0 Back 1</item>
				<item>Fore 0 Back 2</item>
				<item>Fore 1 Back 1</item>
				<item>Fore 1 Back 2</item>
				<item>Fore 2 Back 1</item>
				<item>Fore 2 Back 2</item>
				<item>Fore 2 Back 3</item>
			</content>
			<selection>0</selection>
			<pos>10,10</pos>
			<size>90,12d</size>
			<tooltip>Choose the foreground and background colour look up tables</tooltip>
			<maxsize>200,100</maxsize>
			<handler function="OnChoice1Select" entry="EVT_CHOICE" />
		</object>
		<object class="wxPanel" name="ID_CLUTPANEL1" variable="ClutPanel1" member="yes">
			<pos>32,56</pos>
			<size>496,32</size>
			<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
			<handler function="OnClutPanel1MouseEnter" entry="EVT_ENTER_WINDOW" />
			<handler function="OnClutPanel1MouseLeave" entry="EVT_LEAVE_WINDOW" />
			<object class="wxButton" name="ID_COLOUR" variable="Button2" member="yes">
				<label>F0F</label>
				<pos>56,8</pos>
				<size>28,28</size>
				<enabled>0</enabled>
				<hidden>1</hidden>
				<handler function="OnColourClick" entry="EVT_BUTTON" />
			</object>
		</object>
		<object class="wxPanel" name="ID_CLUTPANEL2" variable="ClutPanel2" member="yes">
			<pos>32,96</pos>
			<size>472,40</size>
			<handler function="OnClutPanel1MouseEnter" entry="EVT_ENTER_WINDOW" />
		</object>
		<object class="wxPanel" name="ID_CLUTPANEL3" variable="ClutPanel3" member="yes">
			<pos>32,152</pos>
			<size>496,40</size>
			<bg>wxSYS_COLOUR_ACTIVECAPTION</bg>
			<handler function="OnClutPanel1MouseLeave" entry="EVT_ENTER_WINDOW" />
		</object>
		<object class="wxPanel" name="ID_CLUTPANEL4" variable="ClutPanel4" member="yes">
			<pos>24,200</pos>
			<size>504,32</size>
			<handler function="OnClutPanel1MouseLeave" entry="EVT_ENTER_WINDOW" />
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Label</label>
			<pos>232,16</pos>
		</object>
		<object class="wxColourDialog" variable="ColourDialog1" member="yes">
			<colour>#8000FF</colour>
		</object>
	</object>
</wxsmith>
