<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="wxTEDFrame">
		<title>wxTED 1.22</title>
		<font>
			<size>10</size>
			<style>normal</style>
			<weight>normal</weight>
			<underlined>0</underlined>
			<family>swiss</family>
			<face>teletext2</face>
		</font>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<handler function="OnKeyDown" entry="EVT_KEY_DOWN" />
		<handler function="OnKeyUp" entry="EVT_KEY_UP" />
		<handler function="OnSetFocus" entry="EVT_SET_FOCUS" />
		<handler function="OnKillFocus" entry="EVT_KILL_FOCUS" />
		<handler function="OnLeftUp" entry="EVT_LEFT_UP" />
		<handler function="OnMouseMove" entry="EVT_MOTION" />
		<handler function="OnMouseWheel" entry="EVT_MOUSEWHEEL" />
		<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
			<size>400,24</size>
			<enabled>0</enabled>
			<hidden>1</hidden>
			<object class="notebookpage">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<size>392,332</size>
				</object>
				<label>P1</label>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idNewPage" variable="MenuItem1" member="yes">
					<label>New</label>
					<accel>CTRL-N</accel>
					<help>Create a new page</help>
					<handler function="OnMenuNew" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idOpenPage" variable="MenuItem3" member="yes">
					<label>Open</label>
					<accel>CTRL-O</accel>
					<help>Open a teletext page</help>
				</object>
				<object class="wxMenuItem" name="idSavePage" variable="MenuItemSave" member="yes">
					<label>Save</label>
					<accel>CTRL-S</accel>
					<help>Save a teletext page</help>
					<enabled>0</enabled>
				</object>
				<object class="wxMenuItem" name="isSavePageAs" variable="MenuItemSaveAs" member="yes">
					<label>Save as</label>
					<help>Save a teletext page with a different name</help>
					<handler function="OnMenuSaveAs" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idPublish" variable="MenuItemPublish" member="yes">
					<label>Publish</label>
					<help>Publish the page to an inserter</help>
					<handler function="OnMenuItemPublish" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idPublishSettings" variable="MenuItemPublishSettings" member="yes">
					<label>Publish settings...</label>
					<help>Choose publish method</help>
					<handler function="OnMenuItemPublishSettings" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idExportTTX40" variable="MenuItemExportTTX40" member="yes">
					<label>Export edit.tf</label>
					<help>Open page on edit.tf website</help>
					<handler function="OnMenuItemExportTTX40Selected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItemQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu3" member="yes">
				<label>Edit</label>
				<object class="wxMenuItem" name="idUndo" variable="MenuItemUndo" member="yes">
					<label>Undo</label>
					<accel>CTRL-Z</accel>
					<handler function="OnMenuItemUndo" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idCut" variable="MenuItem11" member="yes">
					<label>Cut</label>
					<help>Cut the selected area</help>
					<enabled>0</enabled>
					<handler function="OnMenuItemUndo" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idCopy" variable="MenuItemCopy" member="yes">
					<label>Copy</label>
					<accel>CTRL-C</accel>
					<help>Copy the selected area</help>
					<handler function="OnMenuItemCopySelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idPaste" variable="MenuItemPaste" member="yes">
					<label>Paste</label>
					<accel>CTRL-V</accel>
					<help>Paste text from the clipboard</help>
					<handler function="OnMenuItemPasteSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idSelectAll" variable="MenuItemSelectAll" member="yes">
					<label>Select All</label>
					<accel>CTRL-A</accel>
					<help>Select the entire page</help>
					<handler function="OnMenuItemSelectAllSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idInsertPage" variable="MenuItemInsertSubpage" member="yes">
					<label>Insert subpage after this one</label>
					<help>Add a subpage after this page</help>
					<handler function="OnMenuItemInsertSubpage" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idDeleteSubPage" variable="MenuItemDeletePage" member="yes">
					<label>Delete this subpage</label>
					<handler function="OnMenuItemDeletePage" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuPresentation" member="yes">
				<label>Presentation</label>
				<object class="wxMenu" name="ID_MENUITEM1" variable="MenuItemLanguage" member="yes">
					<label>Language</label>
					<object class="wxMenuItem" name="idLanguageEnglish" variable="MenuItemEnglish" member="yes">
						<label>English</label>
						<handler function="OnMenuItemLanguage" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idLanguageFrench" variable="MenuItemFrench" member="yes">
						<label>French</label>
						<handler function="OnMenuItemLanguage" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idLanguageSwedish" variable="MenuItemSwedish" member="yes">
						<label>Swedish/Finnish/Hungarian</label>
						<handler function="OnMenuItemLanguage" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idLanguageCzechSlovak" variable="MenuItemCzech" member="yes">
						<label>Czech/Slovak</label>
						<handler function="OnMenuItemLanguage" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idLanguageGerman" variable="MenuItemGerman" member="yes">
						<label>German</label>
						<handler function="OnMenuItemLanguage" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idLanguageSpanish" variable="MenuItemSpanish" member="yes">
						<label>Spanish/Portuguese</label>
						<handler function="OnMenuItemLanguage" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idLanguageItalian" variable="MenuItemItalian" member="yes">
						<label>Italian</label>
						<handler function="OnMenuItemLanguage" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idLanguageUnused" variable="MenuItemUnused" member="yes">
						<label>Unused</label>
						<enabled>0</enabled>
						<handler function="OnMenuItemLanguage" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
				</object>
				<object class="wxMenu" name="ID_REGION" variable="MenuItem2" member="yes">
					<label>Region</label>
					<object class="wxMenuItem" name="ID_REGION0" variable="MenuItemRegion0" member="yes">
						<label>0: Eng/Ger/Swe/Fin/Hun/Ita/Fre/Por/Spa/Cze/Slo</label>
						<handler function="OnMenuItemRegionSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_REGION1" variable="MenuItemRegion1" member="yes">
						<label>1: Pol/Ger/Swe/Fin/Hun/Ita/Fre/Cze/Slo</label>
						<handler function="OnMenuItemRegionSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_REGION2" variable="MenuItemRegion2" member="yes">
						<label>2: Eng/Fre/Swe-Fin-Hun/Tur/Ger/Por-Spa/Ita</label>
						<handler function="OnMenuItemRegionSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_REGION3" variable="MenuItemRegion3" member="yes">
						<label>3: Ser/Cro/Slovenian/Romanian</label>
						<handler function="OnMenuItemRegionSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_REGION4" variable="MenuItemRegion4" member="yes">
						<label>4: Ser-Cro/Ger/Est/Lit/Rus-Bul/Ukr/Cze-Slo</label>
						<handler function="OnMenuItemRegionSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_REGION6" variable="MenuItemRegion6" member="yes">
						<label>6: Tur/Gre</label>
						<handler function="OnMenuItemRegionSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_REGION8" variable="MenuItemRegion8" member="yes">
						<label>8: Eng/Fre/Arabic</label>
						<handler function="OnMenuItemRegionSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="ID_REGION10" variable="MenuItemRegion10" member="yes">
						<label>10: Hebrew/Arabic</label>
						<handler function="OnMenuItemRegionSelected" entry="EVT_MENU" />
						<radio>1</radio>
					</object>
				</object>
				<object class="wxMenuItem" name="idPageNumber" variable="MenuItemPageNumber" member="yes">
					<label>Properties...</label>
					<help>Set the page number for transmission</help>
					<handler function="OnMenuItemProperties" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEMSHOWHEADER" variable="MenuItemShowHeader" member="yes">
					<label>Show header</label>
					<checked>1</checked>
					<checkable>1</checkable>
				</object>
				<object class="wxMenuItem" name="ID_HIDECONCEAL" variable="MenuItemConcealToggle" member="yes">
					<label>Toggle Conceal</label>
					<handler function="OnMenuItemConcealToggle" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuHelp" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idSpecialKeys" variable="MenuItemSpecialKeys" member="yes">
					<label>Special keys</label>
					<help>Show the special function key table</help>
					<handler function="OnMenuSpecialKeys" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItemAbout" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
		<object class="wxFileDialog" variable="LoadPageFileDialog" member="yes">
			<message>Select teletext file</message>
			<wildcard>TTI files (*.tti, *.ttix)|*.tti;*.ttix|EP1 files (*.ep1)|*.ep1|TTX files (*.ttx)|*.ttx|VTX files (*.vtx)|*.vtx|All files|*.*</wildcard>
			<style>wxFD_OPEN|wxFD_FILE_MUST_EXIST</style>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="m_Timer1" member="yes">
			<interval>456</interval>
		</object>
		<object class="wxFileDialog" variable="FileDialogSaveAs" member="yes">
			<message>Save file as...</message>
			<wildcard>TTI files (*.tti, *.ttix)|*.tti;*.ttix</wildcard>
			<style>wxFD_SAVE|wxFD_OVERWRITE_PROMPT</style>
		</object>
	</object>
</wxsmith>
